body{
    margin: 0;
}

#main-header{
    width: 1350px;
    height: 600px;
}

.container-menu{
    margin: 70px;
    margin-bottom: 30px;
}

.header-link{
    text-decoration: none;
    color: #CCB285;
}
.menu{
    font-family: 'Poppins', sans-serif; color: #CCB285;
    font-size: 13px;
    display:flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none; color: #CCB285;
}

.line-header{
    width: 700px;
    height: 2px;
    background-color: #CCB285;
    display:flex;
    justify-content: flex-end
}
.container-conoceme{
    padding-right: 20px;
}

.container-proyectos{
    padding-right: 20px;
}

.container-experiencia{
    padding-right: 20px;
}

.container-contacto{
    padding-right: 20px;
}
.year{
    width: 1169px;
    display:flex;
    justify-content: center
}

.container-portada{
    width: 1350px;
    height: 400px;;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-profesion{
    font-family: 'Poppins', sans-serif; color: #CCB285;
    font-size: 13px;
    height: 200px;
    display: flex;
    justify-content: center;
}

img.banner-mediano{
    width: 1350px; height: 360px;
}

.header-conoceme{
    margin: 70px;
    font-family: 'Poppins', sans-serif; color: #CCB285;
    font-size: 30px;
}

.descripcion-conoceme{
    width: 450px;
    height: 120px;
    margin: 75px;
    font-family: 'Poppins', sans-serif; color: gray;
    font-size: 15px;
}

.conoceme{
    width: 1350px;
    height: 575px;
}

.container-descripcion{
    display: flex;
    justify-content: flex-end;
}

.proyectos{
    width: 1350px;
    height: 650px;
    background-color: #E5E5E5;
    display: flex;
}

.box-proyectos{
    display: flex;
    justify-content: space-around;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 260px;
    padding-right: 260px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}

.proyecto1{
    width: 257px;
    height: 185px;
    display: flex;
    align-items: flex-end;
    border-style: solid;
    border-color: #CCB285;
    border-width: 2px;
}

.textos1{
    padding: 20px;
    padding-bottom: 30px;
}

.categoria1{
    font-family: 'Poppins', sans-serif; color: #CCB285;
    font-size: 18px;
}

.descripcion1{
    font-family: 'Poppins', sans-serif; color: #CCB285;
    font-size: 13px;
}

.proyecto2{
    width: 257px;
    height: 185px;
    display: flex;
    align-items: flex-end;
    border-style: solid;
    border-color: #CCB285;
    border-width: 2px;
}

.textos2{
    padding: 20px;
    padding-bottom: 30px;
}

.categoria2{
    font-family: 'Poppins', sans-serif; color: #CCB285;
    font-size: 18px;
}

.descripcion2{
    font-family: 'Poppins', sans-serif; color: #CCB285;
    font-size: 13px;
}

.proyecto3{
    width: 257px;
    height: 185px;
    display: flex;
    align-items: flex-end;
    border-style: solid;
    border-color: #CCB285;
    border-width: 2px;;
}

.textos3{
    padding: 20px;
    padding-bottom: 30px;
}

.categoria3{
    font-family: 'Poppins', sans-serif; color: #CCB285;
    font-size: 18px;
}

.descripcion3{
    font-family: 'Poppins', sans-serif; color: #CCB285;
    font-size: 13px;
}

.proyecto4{
    width: 257px;
    height: 185px;
    display: flex;
    align-items: flex-end;
    border-style: solid;
    border-color: #CCB285;
    border-width: 2px;
}

.textos4{
    padding: 20px;
    padding-bottom: 30px;
}

.categoria4{
    font-family: 'Poppins', sans-serif; color: #CCB285;
    font-size: 18px;
}

.descripcion4{
    font-family: 'Poppins', sans-serif; color: #CCB285;
    font-size: 13px;
}

.proyecto5{
    width: 257px;
    height: 185px;
    display: flex;
    align-items: flex-end;
    border-style: solid;
    border-color: #CCB285;
    border-width: 2px;
}

.textos5{
    padding: 20px;
    padding-bottom: 30px;
}

.categoria5{
    font-family: 'Poppins', sans-serif; color: #CCB285;
    font-size: 18px;
}

.descripcion5{
    font-family: 'Poppins', sans-serif; color: #CCB285;
    font-size: 13px;
}

.proyecto6{
    width: 257px;
    height: 185px;
    display: flex;
    align-items: flex-end;
    border-style: solid;
    border-color: #CCB285;
    border-width: 2px;;
}

.textos6{
    padding: 20px;
    padding-bottom: 30px;
}

.categoria6{
    font-family: 'Poppins', sans-serif; color: #CCB285;
    font-size: 18px;
}

.descripcion6{
    font-family: 'Poppins', sans-serif; color: #CCB285;
    font-size: 13px;
}

.proyecto7{
    width: 257px;
    height: 185px;
    display: flex;
    align-items: flex-end;
    border-style: solid;
    border-color: #CCB285;
    border-width: 2px;
}

.textos7{
    padding: 20px;
    padding-bottom: 30px;
}

.categoria7{
    font-family: 'Poppins', sans-serif; color: #CCB285;
    font-size: 18px;
}

.descripcion7{
    font-family: 'Poppins', sans-serif; color: #CCB285;
    font-size: 13px;
}

.proyecto8{
    width: 257px;
    height: 185px;
    border-style: solid;
    border-color: #CCB285;
    border-width: 2px;
}

.proyecto9{
    width: 257px;
    height: 185px;
    border-style: solid;
    border-color: #CCB285;
    border-width: 2px;;
}